<!DOCTYPE html>
<html>
	<head>

		<title><%= pagetitle %></title>
		<meta name="description" content="<%= pagedescription %>" >

		<link rel="stylesheet" href="/resources/styles/mypage-<%= device %>.css">

		<script src="/resources/bower_components/requirejs-plugins/lib/require.js"></script>
		<script>

			require.config({
					 baseUrl:"/"
					,urlArgs: "v=0.1.0"
					,paths: {
						"ejswgt": "resources/widgets/ejswgt/js/main"
						,"handlebarswgt": "resources/widgets/handlebarswgt/js/main"
					}
					,shim: {}
			});

			// Mocks.js takes care of conditions when calling init
			require(["<%= wgtName %>"], function( wgt ) {
				wgt.init( $("#wgt-example") );
			});
		</script>

	</head>
	<body>
		
		<div id="wgt-example">
			<div <%- containerClasses ? 'class="'+containerClasses+'"' : '' %> >
				<%- wgtContent %>
			</div>		
		</div>

	</body>
</html>